@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2135A6;
}

label {
    font-weight: 400;
    font-size: 14px;
    line-height: 19.6px;
    width: 528px;
    height: 20px;
    color: #57534E;
}

input {
    width: 528px;
    height: 46px;
    border-radius: 8px;
    border: 1px solid #F3541C;
    font-family: 'Poppins', sans-serif;
    color: #57534E;
}

:focus {
    outline: none;
    border: 1px solid #F3541C;
    box-shadow: 2px 2px 1px #F3541C;
}

select {
    width: 528px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #F3541C;
    font-family: 'Poppins', sans-serif;
    color: #57534E;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 656px;
    height: 2438px;
    padding: 64px;
    gap: 48px;
    background-color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
}

.cabecalho {
    display: flex;
    flex-direction: column;
    width: 528px;
    height: 134px;
    gap: 24px;
}

.botao-voltar {
    display: flex;
    width: 80px;
    height: 24px;
    gap: 8px;
    font-size: 16px;
    font-weight: 400;
    color: #57534E;
}

.cabecalho__texto-instrutivo {
    display: flex;
    flex-direction: column;
    width: 528px;
    height: 86px;
    gap: 8px;
}

.cabecalho__texto-instrutivo__titulo {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    width: 528px;
    height: 30px;
    color: #292524;
}

.cabecalho__texto-instrutivo__texto {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    width: 528px;
    height: 48px;
    color: #57534E;
}

.formulario-informacoes {
    width: 528px;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.informacoes-participante {
    display: flex;
    flex-direction: column;
    width: 528px;

    gap: 24px;
}

.informacoes-participante__titulo {
    font-weight: 600;
    width: 528px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #292524;
}

.campo-enviar-arquivo {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;

    border-style: dashed;
    border-color: #D6D3D1;
    border-radius: 12px;
    border-width: 3px;
    padding: 25px 0;
}

.campo-enviar-arquivo img {
    width: 48px;
    height: 48px;
}

.campo-enviar-arquivo label {
    width: 163px;
    height: 48px;
    size: 16px;
    line-height: 24px;
    text-align: center;
    color: #D6D3D1;
}

.informacoes-endereco {
    display: flex;
    flex-direction: column;

    gap: 24px;
}

.informacoes-endereco__titulo {
    font-weight: 600;
    width: 528px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #292524;
}

.campo-endereco {
    display: flex;
    width: 528px;
    gap: 20px;
}

.campo-endereco-input__grande input {
    display: flex;
    width: 332px;
}

.campo-endereco-input__pequeno input {
    display: flex;
    width: 174px;
}

.informacoes-trilha {
    display: flex;
    flex-direction: column;
    height: 520px;
    gap: 24px;
}

.informacoes-trilha__titulo {
    font-weight: 600;
    width: 528px;
    height: 20px;
    font-size: 16px;
    line-height: 20px;
    color: #292524;
}

.imagem-fixa {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 850px;
    top: 100px;
}

.imagem-fixa-logo {
    display: flex;
    gap: 15px;
}